<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>dev.xinto.mtpfs.mtpmounterd</string>

	<key>BundleProgram</key>
	<string>Contents/MacOS/mtpmounterd</string>

	<key>MachServices</key>
	<dict>
		<key>85342F9WTR.dev.xinto.mtpfs.mtpmounterd</key>
		<true/>
	</dict>

	<key>ProcessType</key>
	<string>Adaptive</string>
</dict>
</plist>
